.myHeader {
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 20px;
}

#myTitle {
  margin: 0px;
  font-size: 40px;
  font-family: "Avenir Next W02 Thin","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px;
  font-weight: 300;
}

#bg1 {
  background-size: cover;
  background-image: url('../img/background.jpeg');
  background-repeat: no-repeat;
  background-position: top left;
  background-origin: content-box;
  text-align: center;
}

#bg2 {
  background-size: cover;
  background-image: url('../img/background2.jpeg');
  background-repeat: no-repeat;
  background-position: top left;
  background-origin: content-box;
}

.thin {
  font-family: "Avenir Next W02 Thin","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

#start {
  font-size: 20px;
  margin-top: 1%;
}

#title {
  margin-top: 40%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.60);
}

#login {
  background-image: url('../img/coinbase.png');
  height: 100%;
  width: 100%;
}

.myForm {
  font-size: 20px;
  font-family: "Avenir Next W02 Thin","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.formRow {
  width: 80%;
  height: 100%;
  margin: 5%;
}

#create {
  background: rgba(0, 0, 0, 0.30);
}

.data-row {
  margin: 5%;
  padding: 5%;
  font-family: "Avenir Next W02 Thin","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 15pt;
}

#thePageHeader {
  font-size: 20pt;
}
